{% case media.media_type %}
  {% when 'image' %}
  <div class="product-media__border">
    <img src="{{ media | img_url: 'large' }}" alt="{{ media.preview_image.alt }}">
  </div>
  {% when 'external_video' %}
  <div class="product-media__border">
    {{ media | external_video_tag }}
  </div>
  {% when 'video' %}
  <div class="product-media__border">
    {{ media | video_tag: controls: true }}
  </div>
  {% when 'model' %}
  <div class="product-media__border">
    {{ media | model_viewer_tag }}
  </div>
  {% comment %} ELSE here doesnt work. Why? {% endcomment %}
{% else %}
  <div class="product-media__border">
    {{ media | media_tag }}
  </div>
{% endcase %}