<div class="header" x-data=" { announcementBar: false } ">
  <!-- Announcement bar NEWSLETTER -->
  <div
    x-show="announcementBar"
    class="announcement-bar__hidden"
    @click.away="announcementBar = false">
    <div class="announcement-bar__icon-close" x-on:click="announcementBar = false">
      {% render 'icon-close' %}
    </div>
    <div class="announcement-bar__hidden-wrapper">
      <h2>Newsletter</h2>
      <p>Sign up today and receive our lowest price deals and coupon codes</p>
      <form action="#">
        <input
          type="text"
          placeholder="Your email..."
          name="subscribe">
        <button class="announcement-bar__hidden-subs-btn">
          Subscribe
        </button>
      </form>
    </div>
  </div>
  <!-- Announcement bar -->
  <div class="announcement-bar">
    <div class="announcement-bar__content">
      <p>Orders placed by 4PM EST ship out same day.</p>
    </div>

    <div class="annountcement-bar__subscribe-btn">
      <button x-on:click="announcementBar = ! announcementBar">
        <i class="fas fa-envelope annountcement-bar__subscribe-icon"></i>
        Subscribe & Save
      </button>
    </div>
  </div>
  <!-- Header -->
  <div class="header__content">
    <div class="header__logo">
      <a href="#">{{ shop.name }}</a>
    </div>
    <div class="header__search-container">
      <!-- Search bar -->
      <form action="{{ routes.search_url }}" method="GET">
        <input
          type="search"
          placeholder="Search..."
          name="q">
        <button type="submit">
          <i class="fa fa-search"></i>
        </button>
      </form>
    </div>
    <!-- Check customers accounts settings and show/hide login&register buttons -->
    <div class="header_all-btns">
      {% if shop.customer_accounts_enabled %}
        <div class="header__login-register">
          <a href="{{ routes.account_login_url }}" class="login-btn btn">Login</a>
          <a href="{{ routes.account_register_url }}" class="register-btn btn">Register</a>
        </div>
      {% endif %}
      <div class="header__cart">
        <a href="{{ routes.cart_url }}">
          <i class="fas fa-shopping-cart"></i>Cart</a>
      </div>
    </div>
  </div>
  <!-- show menus and nested menus -->
  <div x-data="{ open: false }" class="header__navigation">
    <nav>
      <ul role="list">
        {% for link in linklists.main-menu.links %}
          {% if link.links != blank %}
            <li>
              <button x-on:click="open = ! open" class="header__navigation-dropdown">
                {{ link.title }}
                <i class="fas fa-chevron-down"></i>
              </button>

              <div
                x-show="open"
                @click.away="open = false"
                class="header__navigation-dropwrapper">
                {% for chieldlink in link.links %}
                  <a href="#">{{ chieldlink.title }}</a>
                {% endfor %}
              </div>

            </li>
          {% else %}
            <li>
              <a href="{{ link.url }}">{{ link.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
  </div>


</div>