<div class="header">
  {% comment %} Announcement bar {% endcomment %}
  <div class="announcement-bar">
    <div class="announcement-bar__content">
      <p>Orders placed by 4PM EST ship out same day.</p>
    </div>

    <div class="annountcement-bar__subscribe-wrapper">
      <ul role="list" class="all-btns">
        <li>
          <a href="#">
            <i class="fas fa-envelope annountcement-bar__subscribe-icon"></i>Subscribe & Save</a>
        </li>
      </ul>
    </div>
  </div>
  {% comment %} Header {% endcomment %}
  <div class="header__content">
    <div class="header__logo">{% comment %}
      <a href="#">{{ shop.name }}</a>
      {% endcomment %}
    </div>
    <div class="header__search-container">
      <form action="#">
        <input
          type="text"
          placeholder="Search..."
          name="search">
        <button>
          <i class="fa fa-search"></i>
        </button>
      </form>
    </div>
    {% comment %} Check customers accounts settings and show/hide login&register buttons {% endcomment %}
    <div class="header_all-btns">
      {% if shop.customer_accounts_enabled %}
        <div class="header__login-register">
          <a href="{{ routes.account_login_url }}" class="login-btn btn">Login</a>
          <a href="{{ routes.account_register_url }}" class="register-btn btn">Register</a>
        </div>
      {% endif %}
      <div class="header__cart">
        <a href="{{ routes.cart_url }}">
          <i class="fas fa-shopping-cart"></i>Cart</a>
      </div>
    </div>
  </div>
  {% comment %} show menus and nested menus {% endcomment %}
  <div x-data="{ open: false }" class="header__navigation">
    <nav>
      <ul role="list">
        {% for link in linklists.main-menu.links %}
          {% if link.links != blank %}
            <li>
              <button x-on:click="open = ! open" class="header__navigation-dropdown">
                {{ link.title }}
                <i class="fas fa-chevron-down"></i>
              </button>

              <div
                x-show="open"
                @click.away="open = false"
                class="header__navigation-dropwrapper">
                {% for chieldlink in link.links %}
                  <a href="#">{{ chieldlink.title }}</a>
                {% endfor %}
              </div>

            </li>
          {% else %}
            <li>
              <a href="{{ link.url }}">{{ link.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
  </div>


</div>