<div class="customer-account">
  <h1 class="customer-account__title">Account</h1>

  <div class="customer-account__flex">

    {% assign number_of_orders = customer.orders | size %}
    {% if number_of_orders > 0 %}
      {% paginate customer.orders by 5 %}
        <div class="customer-account__orders-wrapper">
          <h2 class="customer-account__orders-title">Order history</h2>
          <div class="customer-account__orders">
            <div class="customer-account__orders-flex">
              {% for order in customer.orders %}
                <div class="customer-account__every-order">
                  <div class="customer-account__every-order-media">
                    {% if order.line_items.first.image %}
                      <img
                        class="customer-account__every-order-media-img"
                        src="{{ order.line_items.first.image | img_url: "large" }}"
                        alt="{{ order.line_items.first.image.alt }}">
                    {% else %}
                      {{ 'product-1' | placeholder_svg_tag: 'customer-account__every-order-media-img' }}
                    {% endif %}
                  </div>
                  <div class="customer-account__every-order-content">
                    <div class="customer-account__every-order-content__left">
                      <h3>
                        {{ order.name | link_to: order.customer_url }}
                      </h3>
                      <p>{{ order.financial_status }}</p>
                    </div>
                    <div class="customer-account__every-order-content__right">

                      {% assign fulfilledStatusLabel = order.fulfillment_status_label %}
                      <!-- if order is UNFULFILLED -->
                      {% if fulfilledStatusLabel == "Unfulfilled" %}
                        <div class="customer-account__fulfillment-unfulfilled">
                          <p>{{ order.fulfillment_status_label }}</p>
                        </div>
                      {% endif %}

                      <!-- if order is FULFILLED -->
                      {% if fulfilledStatusLabel == "Fulfilled" %}
                        <div class="customer-account__fulfillment-fulfilled">
                          <p>{{ order.fulfillment_status_label }}</p>
                        </div>
                      {% endif %}
                      <p>{{ order.total_price | money }}</p>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
          {% render 'snippet-pagination', pagination: paginate %}
        </div>
      {% endpaginate %}
    {% else %}
      <div class="customer-account__no-orders">
        <h2>Order history</h2>
        <h2>You currently don't have any orders</h2>
      </div>
    {% endif %}

    <div class="customer-account__account-details">
      <h2>Account details</h2>
      {{ customer.default_address | format_address }}
      <a href="{{ routes.account_addresses_url }}">View addresses</a>
    </div>
  </div>
</div>