<div class="template-product">
  <div class="template-product__grid">
    <div class="template-product__product-medias">
      {% for media in product.media %}
        <div>
          {% render 'product-media', media: media %}
        </div>
      {% endfor %}
    </div>
    <div class="template-product__information">
      {% form 'product', product %}

        <input
          type="hidden"
          name="id"
          value="{{ product.selected_or_first_available_variant.id }}">

        <span>{{ product.vendor }}</span>

        <h1>{{ product.title }}</h1>

        {% assign product_price = product.selected_or_first_available_variant %}
        <span>{{ product_price.compare_at_price | money }}</span>
        <span>{{ product_price.price | money }}</span>
        {% if product_price.price < product_price.compare_at_price %}
          <span>Sale</span>
        {% endif %}

        {% if product.has_only_default_variant == false %}
          {% for option in product.options_with_values %}
            <label for="Option-{{ section.id }}-{{ forloop.index0 }}">{{ option.name }}</label>

            <select name="options[{{ option.name | escape }}]" id="Option-{{ section.id }}-{{ forloop.index0 }}"></select>
            {% for value in option.values %}
              <option value="{{ value | escape }}" {% if option.selected_value == value %}selected="selected"{% endif %}>
                {{ value }}
              </option>
            {% endfor %}


          {% endfor %}

        {% endif %}
        <label for="Quantity-{{ section.id }}">Quantity</label>
        <input
          type="number"
          name="quantity"
          id="Quantity-{{ section.id }}"
          value="1"
          min="1">

        <span>{{ product.description }}</span>


        <button type="submit" name="add">
          {% if product.selected_or_first_available_variant.available == false %}
            Sold out
          {% else %}
            Add to cart
          {% endif %}
        </button>
      {% endform %}
    </div>
  </div>
</div>