{% if cart.item_count > 0 %}
  <div class="cart">

    <div class="cart__header">
      <h1>Your cart</h1>
      <a class="cart_continue-shopping" href="{{ routes.all_products_collection_url }}">Continue shopping</a>
    </div>

    <div class="cart__content">
      <form
        action="{{ routes.cart_url }}"
        method="POST"
        novalidate>
        <table class="cart__content-table">
          <thead>
            <th class="cart__content-th">Product</th>
            <th class="cart__content-th">Quantity</th>
            <th class="cart__content-th">Total price</th>
          </thead>
          <tbody>
            {% for item in cart.items %}
              <tr class="cart__content-tr">
                <td class="cart__content-td">
                  <a href="{{ item.url }}">
                    {% if item.image %}
                      <img
                        src="{{ item.image | img_url: 'small' }}"
                        alt="{{ item.title | escape }}"
                        class="cart__content-wehave-img">
                    {% else %}
                      {{ 'product-1' | placeholder_svg_tag: 'cart__content-missing-img' }}
                    {% endif %}
                  </a>
                </td>
                <td class="cart__content-td">
                  <a href="{{ item.url }}">{{ item.title | truncatewords: 5 }}</a>
                  <span>{{ item.product.description }}</span>
                  <a href="{{ routes.cart_change_url }}?line={{ forloop.index }}&quantity=0">remove</a>
                </td>
                <td><input
                    type="number"
                    name="updates[]"
                    value="{{ item.quantity }}"
                    min="1"
                    id="updates_{{ forloop.index }}">
                </td>
                <td>{{ item.line_price | money }}</td>
              </tr>
            {% endfor %}
          </tbody>

        </div>
      </table>
      <div class="cart__content-footer">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'subtotal' %}
            <h3>Subtotal: {{ cart.total_price | money }}</h3>
            {% when 'update_button' %}
            <button type="submit" name="update">Update</button>
            {% when 'checkout_button' %}
            <button type="submit" name="checkout">Checkout</button>
          {% endcase %}
        {% endfor %}
      </div>
    </form>

  </div>

{% else %}
  <div class="cart__empty">
    <h1>Your cart is empty</h2>
    <a class="cart_continue-shopping" href="{{ routes.all_products_collection_url }}">Continue shopping</a>
  </div>
{% endif %}


{% schema %}
  {
    "name": "Template cart",
    "blocks": [
      {
        "type": "subtotal",
        "name": "Subtotal",
        "limit": 1
      }, {
        "type": "update_button",
        "name": "Update Button",
        "limit": 1
      }, {
        "type": "checkout_button",
        "name": "Checkout Button",
        "limit": 1
      }
    ]
  }
{% endschema %}