<div class="customer-order">

  <div class="customer-order__header">
    <div>
      <h1>Order {{ order.name }}</h1>
      <p>Placed on {{ order.created_at | date: format: 'date' }}</p>
      <span class="customer-order__header-payment-status">{{ order.financial_status_label }}</span>
    </div>

    <a class="customer-order__header-btn" href="{{ routes.account_url }}">Back to account</a>
  </div>


  <div class="customer-order__wrapper-grid">
    {% for line_item in order.line_items %}
      <div class="customer-order__content-grid">

        {% if line_item.image %}
          <div class="customer-order__content-image">
            <img src="{{ line_item.image | img_url: 'medium' }}" alt="{{ line_item.image.alt }}">
          </div>
        {% else %}
          <div class="customer-order__content-image">
            {{ 'product-1' | placeholder_svg_tag }}
          </div>
        {% endif %}

        <div>
          <h2 class="customer-order__content-item-title">{{ line_item.title | link_to: line_item.product.url }}</h2>

          <table class="customer-order__content-table">
            <tbody>
              <tr>
                <td>Price</td>
                <td>{{ line_item.original_price | money }}</td>
              </tr>
              <tr>
                <td>Quantity</td>
                <td>{{ line_item.quantity }}</td>
              </tr>
              <tr>
                <td>Final price</td>
                <td>{{ line_item.final_line_price | money }}</td>
              </tr>
            </tbody>
          </table>

          <!-- more trunkated words breaks the footer of last order item -->
          <div class="customer-order__content-description">
            {{ line_item.product.description | truncatewords: 25 }}
          </div>
        </div>

        <div>
          <h2>Delivery address</h2>
          <div>
            <!-- delivery address -->
            {{ order.shipping_address | format_address }}

          <!-- delivery address WITHOUT CUSTOMER name -->
            <!--
            <p>Address 1: {{ order.shipping_address.address1 }}</p>
            <p>Address 2: {{ order.shipping_address.address2 }}</p>
            <p>Street: {{ order.shipping_address.street }}</p>
            <p>Province: {{ order.shipping_address.province }}</p>
            <p>City: {{ order.shipping_address.city }}</p>
            <p>ZIP: {{ order.shipping_address.zip }}</p>
            <p>Country: {{ order.shipping_address.country }}</p>
            -->
          </div>
        </div>

      </div>
    {% endfor %}
  </div>
</div>